body {
  font-family: Roboto;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

/*-------------------------------HEADER SECTION-------------------------------*/

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);

  /* added flex */
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/* added containers with flex */
.logo, .links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;

    /* Added flex */
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

/*-------------------------------SUB-HEADER SECTION-------------------------------*/

/*-------------------------------CLASSES SECTION-------------------------------*/

/*-------------------------------QUOTE SECTION-------------------------------*/

/*-------------------------------FOOTER SECTION-------------------------------*/