body {
  font-family: Roboto;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

/*----------------------------------HEADER SECTION----------------------------------*/

.header {
  font-family: Hero;
  background: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 12px 32px;
}

.logo, .links {
  display: flex;
  align-items: center;
  gap: 48px;
}

.logo, .sign-up-text {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bolder;
}

a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 32px;
}

/*-------------------------------SUB-HEADER SECTION-------------------------------*/

.sub-header {
  background: #1F2937;
  font-family: Hero;
}

.sub-header-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  margin: 80px;
}

.sub-header-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.sub-text {
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 400;
  max-width: 700px;
}

.sign-up-button {
  color: #E5E7EB;
  background: #3882F6;
  padding: 8px 16px;
  border: 1px solid #1F2937;
  border-radius: 8px;
}

.gymnastics-image {
  width: 350px;
  height: auto;
}

/*---------------------------------CLASSES SECTION---------------------------------*/

.classes {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  text-align: center; 
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.square-image {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin: 0px, 40px;
  margin-bottom: 80px;
}

.sub-container {
  max-width: 200px;
}

/*---------------------------------QUOTE SECTION---------------------------------*/

.quote {
  background: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  margin: 100px;
  max-width: 900px;
}

.quote-text {
  font-style: italic;
  font-size: 36px;
  margin-bottom: 16px;
}

.quote-author { 
  font-size: 24px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
}

/*---------------------------------SIGN-UP SECTION---------------------------------*/

.sign-up {
  background: #3882F6;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 25px;
  padding: 16px;
  margin-top: 60px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 60px;
}

.sign-up-text {
  margin-top: 30px;
  /* Text properties defined in Sub-Header section*/
}

.sub-text {
  margin-bottom: 30px;
  /* Text properties defined in Sub-Header section*/
}

.button-border {
  color: #E5E7EB;
  background: #3882F6;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 30px;
}

/*---------------------------------FOOTER SECTION---------------------------------*/

.footer {
  height: 72px;
  color: #E5E7EB;
  font-family: Hero;
  font-size: 18px;
  background: #1F2937;
  display: flex;
  justify-content: center;  
  align-items: center;  
}
